@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*@font-fac {
    font-family: 'EB Garamond',
        serif;
    font-family: 'Nanum Myeongjo',
        serif;
    font-family: 'Noto Sans KR',
        sans-serif;
}*/


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
    border: none;
}

ul,
ol {
    list-style: none;
}

.body {
    font-family: 'Binggrae';
    font-size: 18px;
    line-height: 28px;
    color: #666;
    min-width: 1450px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*hearder 부분*/
#hearder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.5);
}

#hearder_inner {
    margin: auto;
    width: 1320px;
}


#logo {
    float: left;
    padding-top: 10px;

}


#gnb>li {
    float: left;
    padding: 37px 20px;
    font-size: 16px;
    font-weight: bold;

}

#gnb {
    float: right;

}


.mb .swiper-button-next,
.mb .swiper-button-prev {
    color: red;
}

.mb .swiper-pagination>span {
    background-color: blue
}

.mb {
    padding-bottom: 30px;
}

.mb img {
    width: 100%;
}

.best {
    text-align: center;
    padding: 30px 0;

}

#best_inner {
    padding-bottom: 100px;
}

#best_menu {
    margin: auto;
    width: 1320px;
    padding-top: 30px;
}

#best_inner h1 {
    text-align: center;
    padding: 30px 0;
}

#menu li {
    background-image: url(../images/Untitled-8.png);
    float: left;
    background-repeat: no-repeat;
    text-align: center;
    width: 33.3%;
    background-position: center top;
    padding-top: 100px;

}

#menu>li>img:hover {
    transform: rotate(15deg);
    transition: all 0.5s;
}




#menu li h2 {
    padding-top: 20px;
}

#special {
    background-color: #ffe06c;
    text-align: center;
    margin-bottom: 80px;


}

#special_inner {
    margin: auto;
    width: 1320px;
}

.sale {
    text-align: center;
}

.sale h1 {
    padding: 20px 0;
}

.sale h5 {
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Binggrae';
}

#special_inner ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

#special_inner li {
    width: 400px;
}

#special_inner ul li p {
    padding: 20px 0;
    font-weight: bold;
    color: #69422a;
}


#special_inner ul li:hover {
    transform: translatey(-40px);
    transition: all 0.5s;
}

#vido {
    margin: auto;
    width: 1320px;
    text-align: center;
    margin-bottom: 80px;
}

#store {
    float: left;
    width: 50%;
    overflow: hidden;

}



#affiliate {
    background-image: url(../images/affiliate2.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 615px;
    float: right;
    text-align: center;
    color: white;
    padding-top: 100px;
    font-family: 'Noto Sans KR', ;
}

#affiliate h1 {
    padding: 30px 0;
    font-size: 45px;


}

#affiliate h2 {
    padding: 10px 0;
}

#affiliate h3 {
    padding: 10px 0;
}

#affiliate p {
    padding: 10px 0;
    font-size: 18px;
}

#affiliate h5 {
    font-size: 22px;
    padding-top: 40px;

}

#affiliate h5 a {
    display: inline-block;
    background-color: black;
    padding: 15px 65px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 89%;
    padding-left: 20px;

}

#search {
    clear: both;
    text-align: center;
    margin: auto;
    width: 1320px;
    padding-bottom: 80px;

}

#search h1 {
    padding: 10px 0;
}

#search p {
    padding: 15px 0;
}

#search h4 {
    padding: 10px 0;
    font-size: 20px;
    display: inline-block;
    border: 1px solid red;
    border-radius: 25px;
    background-color: red;
    padding: 10px 20px;
    color: white;
    margin-bottom: 40px;


}

#search h1 {
    font-family: 'Binggrae-Bold';
    font-size: 40px;
}

#search ul {
    display: flex;
    justify-content: space-around;

}

#search ul li {
    width: 200px;

}

#search ul li p {
    align-items: flex-end;

}


.color {
    color: red;
    font-weight: bold;
}

#app {
    float: left;
    width: 50%;
}

#app img {
    width: 100%;
}

#banner {
    float: right;
    width: 50%;
}

#banner img {
    width: 100%;
}

#sns_inner {
    margin: auto;
    width: 1320px;
}

#sns h1 {
    font-size: 40px;
    font-family: 'Noto Sans KR', ;
    padding: 20px 0;
    text-align: center;
}

#sns_inner ul {
    display: flex;
    flex-wrap: wrap;
    float: left;

}

#sns ul li:hover img {
    transform: scale(0.9, 0.9);
}

#sns ul li img {
    transition: all .5s;
}

.left {
    width: 981px;
}



#sns_inner ul li {
    align-content: flex-start;
}

.right img {
    height: 442px;
}

#footer {
    background-color: #ffeb99;
    margin-top: 80px;
    font-family: 'Binggrae';
}

#footer_inner {
    margin: auto;
    width: 1320px;
    display: flex;

}

#f_logo {
    float: left;
    padding-top: 60px;
    padding-left: 130px;
}

.text {
    padding-left: 225px;
}

.text ul li {
    float: left;
    padding: 10px 40px;
    padding-left: 0px;
    font-weight: bold;

}

.name {
    padding-top: 20px;
}

.text h5 {
    padding-top: 20px;
    font-size: 18px;
}

.text p {
    padding-top: 20px;
}

#f_img {
    justify-content: space-between;
    margin-left: 250px;
    padding-top: 10px;
}